// Pulsing button anuimation.
@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 0.9;
	}

	to {
		transform: scale(1.4);
		opacity: 0;
	}
}

// Animation revealing page.
@keyframes circleReveal {
	0% {
		clip-path: circle(0% at 100% 0%);
	}
	100% {
		clip-path: circle(160% at 0% 100%);
	}
}

// Animation hiding lastly opened page.
@keyframes circleHide {
	0% {
		clip-path: circle(0% at 0% 100%);
	}
	100% {
		clip-path: circle(160% at 100% 0%);
	}
}
