// Colors palette from coolors.co website

$pure-white: #ffffff;
$light-white: #f5f3f4;
$light-grey: #d3d3d3;
$dark-grey: #b1a7a6;
$light-red: #e5383b;
$bright-red: #ba181b;
$dark-red: #a4161a;
$wine-red: #660708;
$light-black: #161a1d;
$pure-black: #0b090a;

// $red-main-gradient: linear-gradient(
//     45deg,
//     rgba(164, 22, 26, 0.4),
//     rgba(245, 243, 244, 0.3)
// );

// $red-main-gradient: linear-gradient(
//     45deg,
//     rgba(164, 22, 26, 0.4),
//     rgba(255, 148, 121, 0.6)
// );

$red-main-gradient: linear-gradient(
	326deg,
	rgba(189, 79, 108, 0.6),
	rgba(215, 129, 106, 0.3)
);

$red-secondary-gradient: linear-gradient(
	326deg,
	rgba(214, 38, 38, 0.768),
	rgba(241, 109, 73, 0.489)
);

// $red-gradient: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);

// $light-blue-gradient: linear-gradient(
// 	45deg,
// 	rgba(8, 206, 255, 0.75),
// 	rgba(8, 24, 255, 0.75)
// );
// $blue-gradient: linear-gradient(
// 	45deg,
// 	rgba(20, 105, 241, 0.75),
// 	rgba(42, 10, 184, 0.75)
// );
// $purple-gradient: linear-gradient(
// 	45deg,
// 	rgba(190, 10, 214, 0.75),
// 	rgba(68, 0, 255, 0.75)
// );
// $blue-gradient-solid: linear-gradient(
// 	45deg,
// 	rgb(20, 105, 241),
// 	rgb(42, 10, 184)
// );
// $light-blue-gradient-solid: radial-gradient(
// 	circle at top right,
// 	rgb(0, 78, 255) 0%,
// 	rgb(0, 212, 255) 100%
// );
