// Colors palette from coolors.co website

$pure-white: #FFFFFF;
$light-white: #F5F3F4;
$light-grey: #D3D3D3;
$dark-grey: #B1A7A6;
$light-red: #E5383B;
$bright-red: #BA181B;
$dark-red: #A4161A;
$wine-red: #660708;
$light-black: #161A1D;
$pure-black: #0B090A;


$red-main-gradient: linear-gradient(
    45deg,
    rgba(164, 22, 26, 0.4),
    rgba(245, 243, 244, 0.3)
);


// $light-blue-gradient: linear-gradient(
// 	45deg,
// 	rgba(8, 206, 255, 0.75),
// 	rgba(8, 24, 255, 0.75)
// );
// $blue-gradient: linear-gradient(
// 	45deg,
// 	rgba(20, 105, 241, 0.75),
// 	rgba(42, 10, 184, 0.75)
// );
// $purple-gradient: linear-gradient(
// 	45deg,
// 	rgba(190, 10, 214, 0.75),
// 	rgba(68, 0, 255, 0.75)
// );
// $blue-gradient-solid: linear-gradient(
// 	45deg,
// 	rgb(20, 105, 241),
// 	rgb(42, 10, 184)
// );
// $light-blue-gradient-solid: radial-gradient(
// 	circle at top right,
// 	rgb(0, 78, 255) 0%,
// 	rgb(0, 212, 255) 100%
// );
