// Colors palette from coolors.co website

$pure-white: #ffffff;
$light-white: #f5f3f4;
$light-grey: #d3d3d3;
$dark-grey: #b1a7a6;
$light-red: #e5383b;
$bright-red: #ba181b;
$dark-red: #a4161a;
$wine-red: #660708;
$light-black: #161a1d;
$pure-black: #0b090a;

$red-main-gradient: linear-gradient(
	326deg,
	rgba(189, 79, 108, 0.6),
	rgba(215, 129, 106, 0.3)
);

$red-secondary-gradient: linear-gradient(
	326deg,
	rgba(214, 38, 38, 0.768),
	rgba(241, 109, 73, 0.489)
);
