@media (min-width: 992px) {
	/******* ABOUT US *******/

	.about {
		&__card {
			display: flex;
			margin: 2em 0;
			width: 100%;

			&__box {
				display: flex;
				flex-direction: row;
			}

			&-img {
				width: 50%;
				height: auto;

				&--right {
					order: 1;
				}
			}

			&-info {
				width: 50%;
				padding: 2em;
				background-color: $pure-white;
				z-index: 10;
			}

			&-heading {
				// margin-bottom: 0.5em;
				margin: .7em auto;
				font-size: 3.6rem;
			}

			&-text {
				margin-bottom: 1.5em;
				font-size: 1.5rem;
				font-weight: 300;
				color: $pure-black;
				// color: $dark;
			}

			&-btn {
				padding: 1em;
			}
		}
	}
}

@media (min-width: 1200px) {
	// .section-title {
	// 	font-size: 4.8rem;

	// 	&::before {
	// 		height: 4px;
	// 	}
	// }

	h1.company-name {
		font-size: 6rem;
	}

	.header {
		@include heroImages($red-main-gradient, '../img/bike-fast-big.jpg');

		&__logo {
			position: fixed;
			top: 2em;
			left: 1em;
			transform: translateY(-40%);
			font-size: 2.5rem;
		}

		&__login {
			display: block;
			position: fixed;
			top: 2em;
			right: 1em;
			transform: translateY(-40%);
			font-size: 2.5rem;
			font-weight: 300;
			color: $pure-white;
			z-index: 500;
			transition: color 0.3s;

			&:hover {
				color: $light-red;
			}
		}

		&__text {
			p {
				font-size: 3rem;
			}
		}

		&__arrow {
			bottom: 3em;
			padding: 2em;
		}

		&__arrow-icon {
			width: 50px;
		}
	}

	.nav {
		position: fixed;
		top: 0;
		padding: 1em;

		&-desktop {
			display: block;
			width: 100%;
			background-color: $pure-black;
			z-index: 500;

			&::before {
				display: block;
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 1px;
				width: 40%;
				border-bottom: 1px solid $light-grey;
			}
		}

		&__link {
			color: $pure-white;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				border: 1px solid $light-red;
				opacity: 0;
			}

			&:hover::before {
				animation: pulse 1s;
			}
		}
	}

	/******* ABOUT US *******/

	// .about {
	// 	&__card {
	// 		display: flex;
	// 		margin: 2em 0;
	// 		width: 100%;

	// 		&__box {
	// 			display: flex;
	// 			flex-direction: row;
	// 		}

	// 		&-img {
	// 			width: 50%;
	// 			height: auto;

	// 			&--right {
	// 				order: 1;
	// 			}
	// 		}

	// 		&-info {
	// 			width: 50%;
	// 			padding: 2em;
	// 			background-color: $pure-white;
	// 			z-index: 10;
	// 		}

	// 		&-heading {
	// 			margin: 1em auto;
	// 			font-size: 3.6rem;
	// 		}

	// 		&-text {
	// 			margin-bottom: 1.5em;
	// 			font-size: 1.5rem;
	// 			font-weight: 300;
	// 			color: $pure-black;
	// 		}

	// 		&-btn {
	// 			padding: 1em;
	// 		}
	// 	}
	// }

	.hamburger {
		display: none;
	}
}
