@media (min-width: 576px) {
	/******* OFFER *******/
	.offer {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			&-contact-btn {
				width: 30%;
			}
		}

		&__card {
			width: 30%;

			margin: 0.5em 0.5em;
		}
	}

	/******* ACHIEVEMENTS *******/
	.achievements {
		&-list {
			flex-direction: row;
		}
	}

	/******* FOOTER *******/
	.footer {
		font-size: 1.4rem;
	}
}
