@media (min-width: 576px) {
	.offer {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			&-contact-btn {
				width: 30%;
			}
		}

		&__card {
			width: 30%;

			margin: 0.5em 0.5em;
		}
		// src/sass/main.scss &__card {
		// 	margin: 1em;
		// 	width: 45%;
		// }
	}

	.footer {
		font-size: 1.4rem;
	}
	
}
