@import './colors';
@import './components';
@import './mixins';
@import './animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

h1.company-name {
	margin-bottom: 0.5em;
	font-size: 2.8rem;
	font-family: 'Cinzel', serif;
	color: $pure-white;
	z-index: 1;
}

/******* HEADER *******/

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	padding: 2em;
	text-align: center;
	@include heroImages($red-main-gradient, '../img/2-bike-fast-big.jpg');
	filter: brightness(110%);
	overflow: hidden;

	&__logo {
		position: absolute;
		top: 2em;
		left: 1em;
		transform: translateY(-30%);
		font-family: 'Cinzel', serif;
		font-weight: 700;
		font-size: 2rem;
		color: $pure-white;
		z-index: 500;

		&--active {
			span {
				color: $pure-black;
			}
		}
	}

	&__login {
		// position: absolute;
		// top: 2em;
		// right: 1em;
		// transform: translateY(-30%);
		// font-weight: 300;
		// font-size: 1.5rem;
		// color: $pure-white;
		// z-index: 500;
		display: none;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em;
		z-index: 1;

		p {
			color: $pure-white;
		}
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__arrow {
		display: block;
		position: absolute;
		bottom: 2.5em;
		left: 50%;
		padding: 1.3em;
		transform: translateX(-50%);
		border: 1px solid $pure-white;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $pure-white;
			border-radius: 50%;
			animation: pulse 2s infinite;
		}
	}

	&__arrow-icon {
		width: 30px;
	}

	// &__heading {
	// 	font-size: 5rem;
	// 	font-weight: 300;
	// }

	// &__text {
	// 	font-size: 1.4rem;
	// }
}

/******* NAVIGATION *******/

.nav {
	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $pure-white;
		transform: translateX(102%);
		transition: transform 0.3s;
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: none;
		// overflow: auto;
	}

	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		color: $pure-black;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: $light-red;
		}

		// &::before {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 3px;
		// 	height: 100%;
		// 	transform: scaleY(0);
		// 	background-color: $pure-white;
		// 	transition: transform 0.3s;
		// 	content: '';
		// }

		// &:hover::before {
		// 	transform: scaleY(1);
		// }

		// &::before {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	content: '';
		// 	width: 100%;
		// 	height: 100%;
		// 	border: 1px solid $dark-grey;
		// }

		// &:hover::before {
		// 	animation: pulse 1s;
		// }
	}
}

/* Header */

// Overflow so that the mobile navigation would be hidden.

// .header {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	height: 100vh;
// 	position: relative;
// 	overflow: hidden;

// 	&__text {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 		padding: 2em;

// 		p {
// 			font-weight: 200;
// 		}
// 	}

// 	&__img {
// 		background-image: url('../img/track-mini.jpg');
// 		position: relative;
// 		width: 100%;
// 		height: 100%;
// 		background-size: cover;
// 		background-position: center;
// 	}

// 	&__shadow {
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		background-color: rgba(0, 0, 0, 0.4);
// 	}
// }

/******* ABOUT US *******/

.about {
	position: relative;
	overflow: hidden;
	background-color: $pure-white;

	&__box {
		display: flex;
		flex-direction: column;
	}

	&__card {
		margin: 1em 0;
		box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
		// background-color: $pure-white;
		background-image: $red-main-gradient;
		// background-color: $red-main-gradient;
		overflow: hidden;

		&--right {
			text-align: right;
		}

		&-img {
			width: 100%;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}

		&-info {
			padding: 2em;
			// background-color: $pure-white;
			z-index: 10;
		}

		&-heading {
			margin-bottom: 1em;
			font-size: 2.4rem;
			font-weight: 400;
			color: $wine-red;
		}

		&-text {
			margin-bottom: 1em;
			font-size: 1.3rem;
			color: $pure-black;
			// color: $dark;
		}

		&-btn {
			position: relative;
			margin-top: 1em;
			padding: 0.8em;
			width: 100%;
			color: $pure-white;
			background-color: $wine-red;
			border: 2px solid $wine-red;
			border-radius: 6px;
			cursor: pointer;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			transition: background-color 0.3s;

			&:hover {
				color: $wine-red;
				background-color: $pure-white;
			}
		}
	}
}

/******* OFFER *******/

.offer {
	position: relative;
	overflow: hidden;
	background-color: $pure-white;

	&__cards {
		&-contact-btn {
			position: relative;
			margin-top: 1em;
			padding: 0.8em;
			width: 100%;
			color: $light-white;
			background-color: $wine-red;
			border: 2px solid $wine-red;
			border-radius: 6px;
			cursor: pointer;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			transition: background-color 0.3s;

			// Pulse animation below.
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				border: 1px solid $bright-red;
				opacity: 0;
			}

			&:hover::before {
				color: $wine-red;
				background-color: transparent;
				animation: pulse 1s;
			}

			&:hover {
				color: $wine-red;
				background-color: transparent;
			}
		}
	}

	&__card {
		position: relative;
		margin: 1em 0em;
		height: 450px;
		color: $pure-white;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.offer__card-img {
				transform: rotateX(-180deg);
				opacity: 0;
			}

			.offer__card-info {
				transform: rotateX(0);
				opacity: 1;
			}
		}

		&-img {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;

			&--first {
				background-image: $red-main-gradient,
					url('../img/young-girl-enjoying-swimming-pool-BIG.jpg');
			}

			&--second {
				background-image: $red-main-gradient,
					url('../img/hands-together-sport-team-BIG.jpg');
			}

			&--third {
				background-image: $red-main-gradient,
					url('../img/jump-girl-workout-BIG.jpg');
			}

			&-title {
				font-size: 2.8rem;
			}

			&-info {
				position: absolute;
				bottom: 30px;
				left: 30px;
				font-size: 1.8rem;

				i {
					margin-right: 0.3em;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $red-secondary-gradient;
			border-radius: 8px;
			opacity: 0;
			transform: rotateX(180deg);
			transition: transform 1s, opacity 1s;

			&-title {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 1.2em;
				font-size: 2.8rem;
			}

			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;

				&-item,
				&-price {
					padding: 1em;
					font-size: 1.4rem;
					border-bottom: 1px solid $pure-white;
					text-transform: uppercase;

					&:last-child {
						border-bottom: none;
					}
				}

				&-price {
					font-size: 2rem;
					color: $pure-white;
					font-weight: 700;
					text-transform: none;
				}
			}

			// &-btn {
			// 	position: relative;
			// 	margin-top: 1em;
			// 	padding: 0.8em;
			// 	width: 100%;
			// 	color: $pure-white;
			// 	background-color: $wine-red;
			// 	border: 2px solid $wine-red;
			// 	border-radius: 6px;
			// 	cursor: pointer;
			// 	font-family: 'Raleway', sans-serif;
			// 	font-weight: 700;
			// 	transition: background-color 0.3s;

			// 	&:hover {
			// 		color: $wine-red;
			// 		background-color: $pure-white;
			// 	}
			// }

			&-btn {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 2em;
				padding: 0.8em;
				border-radius: 8px;
				width: 70%;
				border: none;
				color: $pure-white;
				background-color: $wine-red;
				font-weight: 700;
				transition: background-color 0.3s;
				border: 2px solid $wine-red;
				border-radius: 6px;
				cursor: pointer;
				font-family: 'Raleway', sans-serif;

				&:hover {
					color: $wine-red;
					background-color: $pure-white;
				}
			}
		}
	}
}

/******* TEAM SECTION *******/

.team {
	position: relative;
	overflow: hidden;
	background-color: $pure-white;

	&__cards {
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;
	}

	&__card {
		width: 90%;
		height: 50%;
		margin: 0.5em 0.5em;
		border: 1px solid $wine-red;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.96);
		}

		&-top {
			&-img {
				width: 100%;
				height: 450px;
				object-fit: cover;
			}
		}

		&-body {
			text-align: center;
			border-bottom: 1px solid $light-grey;
			// margin-bottom: 1em;

			&-title,
			&-text {
				margin: 0.8em 0;
				color: $wine-red;
			}

			&-title {
				font-size: 2rem;
				text-transform: uppercase;
			}
		}

		&-footer {
			display: flex;
			text-align: center;
			justify-content: space-evenly;
			background-color: $light-white;
		}

		&-social-icon {
			margin: 0.8em 0;
			font-size: 3rem;
			color: $wine-red;
			transition: color 0.3s;

			&:hover {
				color: $bright-red;
			}
		}
	}
}

/******* ACHIEVEMENTS *******/

.achievements {
	position: relative;
	overflow: hidden;
	background-color: $pure-white;

	&-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		width: 100%;
		// flex-direction: column;
		// padding: 20px 0;
	}

	.achievement {
		&-number {
			font-size: 2rem;
			margin-bottom: 1em;
		}

		&-text {
			font-size: 1.5rem;
			text-transform: uppercase;
		}

		i {
			padding: 1em;
			font-size: 3rem;
			color: $pure-white;
			text-shadow: 0 0 5px $wine-red;
		}
	}
}

/******* PARALAX IMAGE *******/

.paralax-img {
	padding: 6em 2em;
	text-align: center;
	color: $pure-white;

	&__title {
		margin-bottom: 0.5em;
		font-size: 6rem;
		font-weight: 700;
		text-transform: uppercase;
		cursor: default;
	}

	&__text {
		padding: 1em 0;
	}
}

.paralax-first {
	@include paralaxImages('../img/4-swim-beach-big.jpg');
}
.paralax-second {
	@include paralaxImages('../img/tri-bike-side-BIG.jpg');
}
.paralax-third {
	@include paralaxImages('../img/track-purple-athlete-running-BIG.jpg');
}
.paralax-last {
	@include paralaxImages('../img/medal-purple-BIG.jpg');
}

/******* HAMBURGER MENU *******/

.hamburger {
	position: absolute;
	top: 3em;
	right: 1em;
	transform: translateY(-50%);
	z-index: 500;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $pure-white;
		z-index: 500;
	}
}

/******* BREAKPOINTS *******/

@import './small';
@import './medium';
@import './large';
